<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string></string>
		<string>首先，将和畅行调整到适宜坡度，坡度选择需循序渐进，以脚踝、小腿、膝盖、大腿后侧的肌肉略有拉抻感为宜。</string>
	</array>
	<array>
		<string></string>
		<string>沉肩、坠肘、松胯，两手臂自然垂直于身体两侧，尽量放松身体，保持身体与地面垂直。</string>
	</array>
	<array>
		<string></string>
		<string>脚尖并拢，脚跟分开45度，呈内八字型；舌舐上腭，鼻息调匀。</string>
		<string>自然呼吸，两臂自体侧缓缓向上抬起，自然伸直紧贴双耳，掌心相对，两手相握，食指伸直，成“剑指”。</string>
		<string>自双臂、头、颈、背、腰依次缓缓向后弯曲至极限，随着呼吸，身体不断向极限拉抻，完成10个呼吸即可。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>双脚保持原有姿势不变，舌舐上腭，鼻息调匀，双腿保持直立。</string>
		<string>吸气，随之身体慢慢向下弯曲，双臂从体侧自然下垂至身前，头、颈、肩、臀依次松弛下来。轻轻左右依次摆动臀部、背部、肩部、颈部和头部，保持自然的呼吸。</string>
		<string>于极限处保持3分钟，此时腘窝会出现紧绷感，可拉抻足少阴肾经，有助于疏通此处的“筋结”，能明显缓解腰背痛。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>双脚打开，与肩同宽，脚尖内扣，脚跟呈45度内八字形,舌抵上腭，鼻息调匀。</string>
		<string>左手缓缓抬起至额前，目视手心。右侧手臂抬起至小腹肚脐处左手臂带动上半身缓缓左转，至极限处，稍停顿3-5秒（注意髋关节保持不动）。</string>
		<string>缓缓回归正位的同时，右手臂抬起至额前，目视右手心。左侧手臂抬起至小腹肚脐处；右手臂带动上半身缓缓右转，至极限处，稍停顿3-5秒（注意髋关节保持不动）。如此左右往复10次。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>双脚打开，与肩同宽，脚尖内扣，脚跟呈45度内八字形,舌抵上腭，鼻息调匀。</string>
		<string>身体缓缓左倾下拉，左手沿裤线下探至极限，与此同时，右手上行至腋下，头部自然左倾，靠近肩部，稍作停顿。</string>
		<string>身体缓缓右倾下拉，右手沿裤线下探至极限，与此同时，左手上行至腋下，头部自然左倾，靠近肩部，稍作停顿。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>保持姿势不变,舌抵上腭，鼻息调匀。</string>
		<string>双腿保持直立，身体慢慢向下弯曲，双臂从体侧尽量下垂至身前，臀、背、肩、颈、头依次松弛下来，保持呼吸均匀。</string>
		<string>轻轻的左右依次摆动头部、颈部、肩部和臀部，有助于不断向下拉伸至极限，于极限处保持3分钟，可加强对足少阴肾经、足厥阴肝经、足太阴脾经的拉抻。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>身体后转，双脚并拢直立于和畅行上；双手自然垂于体侧，下颏微收，唇齿合拢，舌自然平贴于上腭。</string>
		<string>身体前俯经骶椎、腰椎、胸椎、颈椎，依次放松，逐节缓慢牵引前屈。两腿缓缓下蹲，双手合抱于膝上，头部贴于膝上1分钟。</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>慢慢站起，从和畅行上走下，轻轻拍打四肢。</string>
	</array>
</array>
</plist>
