<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string></string>
		<string>First, adjust the HARMONY Xing to appropriate tilt angle step by step. At this time, you have strong sense of stretching in your ankle, calves, knees and rear side of your thighs.
</string>
	</array>
	<array>
		<string></string>
		<string>With your shoulders, elbows and thighs falling and relaxed, and two arms naturally place on both sides of your body. Try to keep your body relaxed, and your body vertical to the ground. </string>
	</array>
	<array>
		<string></string>
		<string>With both big toe tips close together, both heels separated with an angle of 45 degrees,	forming a shape like the Chinese character “八”; and with your tongue tip pressing against the palate, and keeping uniform breath.</string>
		<string>Breathe naturally, raise your two arms slowly from the two sides of your body, both arms keep close to your ears, your two palms face to face, two hands hold together, and the two index fingers point to the sky like a &quot;sword&quot;.</string>
		<string>The index fingers lead both arms, the head, neck, back and waist to slowly bend back to the limit. Try to bend the body backwards to the limit, and practice 10 times of inhaling and exhaling.
</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>Remain the posture of the feet unchanged, your tongue tip pressing against the palate, and uniform breath. Keep your two legs stand straightly.
</string>
		<string>While inhaling, the upper body slowly bends down, meanwhile, the arms naturally droop to the front from the two sides of the body. The head, neck, shoulders, and the buttocks successively relax. The buttocks, back, shoulders, neck, and head gently swing to left and right. Relax and droop naturally the waist. keep breathe naturally.
</string>
		<string> Keep the limit posture for 3 minutes. At this time, the popliteal fossas have the sense of tension, and the bladder meridian can be stretched. It usually is prone to &quot;tendon binding&quot;, so dredging this binding can significantly relieve low back pain.</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>With the two feet open, as wide as the shoulders, toes inward, like the shape of the Chinese character “八”, tongue tip presses against the palate, the jaw slightly contracts, and keep uniform breath.
</string>
		<string>Raise the left hand slowly the front with palms inward, looking at the palm center. Raise the right arm to the middle lower abdomen. The left arm leads the upper body twirl slowly to the left limit (with hip remaining immobile), and pause for 3 to 5 seconds.
</string>
		<string>Slowly return the body to the normal position. Raise the right arm in the front of the forehead with the palm inward, looking at the center of the right palm. Raise the left arm to the middle lower abdomen. The right arm leads the upper body twirl slowly to the right limit (with hip remaining immobile), and pause for 3 to 5 seconds. Practice 10 times for each side.
</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>Slowly return the body to the normal position. Raise the right arm in the front of the forehead with the palm inward, looking at the center of the right palm. Raise the left arm to the middle lower abdomen. The right arm leads the upper body twirl slowly to the right limit (with hip remaining immobile), and pause for 3 to 5 seconds. Practice 10 times for each side.
</string>
		<string>The body bends to the left, the left hand reaches to the limit along the trousers midline, at the same time, the right hand reaches to the armpit along the body side, with the head leans left side naturally close to the left shoulder for a pause.</string>
		<string>The body bends to the right, the right hand reaches to the limit along the trousers midline, at the same time, the left hand reaches to the armpit along the body side, with the head leans right side naturally close to the right shoulder for a pause.
</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>Remain the posture unchanged, your tongue tip pressing against the palate, and uniform breath.
</string>
		<string>Keep your two legs stand straightly, the upper body slowly bends down, meanwhile, the arms naturally droop to the front from the two side of the body. The buttocks gently swing left and right in order to relax waist, back, shoulders, neck, and make them droop naturally.
</string>
		<string>The head, neck, shoulders, and the buttocks successively and gently swing to the left and right sides. It is helpful to stretch the body naturally to the limit. Keep the limit posture for 3 minutes. The kidney meridian, liver meridian and spleen meridian can be stretched.</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>Slowly turn the body back, and stand straight on HARMONY Xing with two feet close together.</string>
		<string>Your two legs squat slowly, with hands clinging to the knee, forehead affixed to the knees above 1 minute, sacral vertebrae, lumbar spine, cervical vertebrae, followed by cervical relaxation.</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string>Stand up slowly, get down from HARMONY Xing, and gently beat your four limbs with your hands.
</string>
	</array>
</array>
</plist>
