<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>专属</key>
	<array>
		<dict>
			<key>name</key>
			<string>大师精选</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>轻松自在</string>
			<key>iamge</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>关节呵护</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>脊柱支柱</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>主题</key>
	<array>
		<dict>
			<key>name</key>
			<string>上班族</string>
			<key>iamge</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>驾车族</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>低头族</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>御宅派</string>
			<key>iamge</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>运动派</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>爱购派</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>区域</key>
	<array>
		<dict>
			<key>name</key>
			<string>巴黎式</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>中式</string>
			<key>iamge</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>泰式</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>功效</key>
	<array>
		<dict>
			<key>name</key>
			<string>深层按摩</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>美臀塑型</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>活血循环</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>元气复苏</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>活力唤醒</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>绽放魅力</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>场景</key>
	<array>
		<dict>
			<key>name</key>
			<string>清晨唤醒</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>瞬间补眠</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>夜晚助眠</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
